@keyframes fadeVisibility{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: opacity linear;
    }
}

@keyframes fadeInvisibility{
    0%{
        opacity: 1
    }
    100% {
        opacity: 0;
        transform: opacity linear;
    }
}

.visible{
    animation: fadeVisibility 0.5s;   
}

.invisible{
    animation: fadeInvisibility 0.5s;
}

.carousel-conteiner{
    position:absolute;
    margin: auto;
    width: 100vw;
    height: 100vh;
}

.carousel-slide{
    position: relative;
    width: 100%;
    height: 100%;

}

.carousel-slide ul{
    display: flex;
    position: absolute;
    flex-direction: row;
    width: 100%;
    height: 100%;
    list-style: none;

}

.carousel-slide ul li{
    position: relative;
    width: 100%;
    height: 100%;

}


.item-content{
    position: relative;
    width: 100vw;
    height: 100vh;
}

.item-content img{
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

}

.slide-content{
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    background-color: var(--Suave-Cloud);
}

.slide-content-text{
    margin-top: 35vh;
    margin-left: 25vh;
    font-size: 24px;
    font-weight: 400;
}

.slide-content-text h2{
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 60px;
}

.carousel-controls{
    display: flex;
    flex-direction: column;
}

.buttons-of-carousel{
    position: absolute;
    display: flex;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: space-between;
}


#prevBtn2,
#nextBtn2{
    display: none;
}

#prevBtn:hover > #prevBtn1{
    display: none;
}

#prevBtn:hover > #prevBtn2{
    display: block;
}

#nextBtn:hover > #nextBtn1{
    display: none;
}

#nextBtn:hover > #nextBtn2{
    display: block;
}

.button-more{
    position: absolute;
    bottom: 0;
    height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 21px;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #ffffff75
}

.button-more svg{
    justify-content: center;
    border-radius: 50%;
}

#svgMore2{
    display: none;
}

.button-more:hover{
    color: var(--Bright);
    cursor: pointer;
}

.button-more:hover > #svgMore1{
    display: none;
}

.button-more:hover > #svgMore2{
    display: block
}

.carouselBtn{
    /* margin: auto; */
    margin-top: 25%;
    margin-left: 15px;
    margin-right: 15px;
    z-index: 1000;
}

.carouselBtn:hover{
    cursor: pointer;
}