:root{
    --Jelly: #277DA8;
    --Suave-Jelly: #277DA875;
    --Cloud: #263B60;
    --Suave-Cloud: #263B6075;
    --Bright: #43F5EC;
    --Suave-Bright: #43F5EC75;
    --Anakiwa: #9DD5FD;
    --Suave-Anakiwa: #9DD5FD75;
    --Suave-black: rgba(0, 0, 0, 0.5);
}