@media screen and (max-height: 868px){
    
    /* #services{
        height: 150vh;
    }

    #board{
        height: 150vh;
    } */

    #mobile-board{
        display: none;
    }

    
    .mobile-card{
        width: 250px;
        height: 400px;
    }

    /* .card-back svg{
        width: 160px;
        height: 160px;
    }  */

    #about-content h1{
        margin-top: 0.25em;
    }

    #about-text{
        font-size: 18px;
    }

    
    /* SERVICES PAGES */


    .service-page-text-container{
        width: 60%;
    }


    /* CONTACT */


    #contact{
        height: 150vh;
    }
}

@media screen and (max-height: 625px){
    #about{
        height: 150vh;
    }

    #about-content h1{
        margin-top: 5em;
        font-size: 36px;
    }
}

@media screen and (max-width: 768px){
    
    .languages{
        bottom: 15vw;
        right: 5vh;
        display: flex;
        margin-left: 80vw;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
    }

    .flag{
        max-width: 35px;
        height: 35px;
        border-radius: 50%;
    }

    #atualLanguage{
        position: absolute;
        padding-bottom: 5px;
        top:0.25em;
        right: 0;
        bottom: 0;
        left: 0;
    }

    #atualFlag{
        position: relative;
        height: 100%;
        top: 0;
        left: 0;
    }

    #atualLanguage svg{
        display: none;
    }

    #languagesFlags{
        position: relative;
        bottom: 80px;
        left: 0;
        padding: 0;
        list-style-position: inside;
    }

    #languagesFlags li{
        list-style: none;
        list-style-position: inside;
        padding-left: 0;
        margin: 0
    }

    #languagesFlags li a{
        padding-left: 0;
        margin: 0
    }

    .flag svg{
        display: none;
    }
    
    #firstNavBar {
        display: none;
    }

    #secondNavBar {
        display: none;
    }

    #mobileNavBar {
        position: fixed;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: justify;
    }

    .logo{
        margin-left: 15px;
    }

    .logo img{
        margin: auto;
        width: 70px;
        height: 70px;
        border-radius: 50%;
    }

    #side-menu{
        display: block;
        position: fixed;
        top: 60px;
        right: 0;
        height: 100%;
        width: 0;
        background-color: rgba(0,0,0,0.85);
        z-index: 1;
        padding-top: 100px;
        overflow-x: hidden;
        transition: all .5s;
    }

    #side-menu li{
        padding: 14px 14px 14px 64px;
        display: block;
        cursor: pointer;

    }

    #side-menu li label{
        cursor: pointer;
    }

    #submenuMobile1{
        position: relative;
        width: 100%;
        /* padding-left: 0; */
        /* margin: auto; */
        margin-right: 260px;
        list-style-position:initial;
        align-items: center;
        overflow: hidden;
        height: 0px;
        transition: all .5s ease-in-out;
        /* background-color: var(--Suave-Anakiwa); */
        border-radius: 10px;
    }

    #submenuMobile1 li{
        margin-top: 15px;
        text-align: left;
        align-self: center;
        padding-left: 25px;
        color: grey

    }

    .menu-btn,
    .menu-btn__burger{
        z-index: 3000;
    }


    /* HOME */


    #home{
        max-width: 100vw;
        height: 100vh;
    }

    .item-content{
        align-items: center;
        justify-self: start;
    }

    .item-content img{
        /* padding-right: 260px; */
        align-self: center;
        margin-left: -50%;
        min-width: 768px;
        max-height: 100vh;
    }

    .slide-content-text{
        margin-left: -50vw;
        padding-right: 50px;
    }

    .slide-content-text h2{
        font-size: 48px;
        font-weight: 400;
        margin-left: -70px;
    }

    .slide-content-text div{
        margin-left: -130px;
    }

    #slide1Title,
    #slide2Title,
    #slide3Title{
        font-size: 24px;
    }

    /* CarouselBtn */

    .buttons-of-carousel{
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content:space-evenly;
    }

    .carouselBtn{  
        position: absolute;
        top: 30%;   
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    #nextBtn{
        position: absolute;
        right: 0;
    }

    

    .icon{
        width: 25px;
    }

    #slide1Text,
    #slide2Text,
    #slide3Text{
        font-size: 16px;
        padding: 0;
        align-self: flex-start;
    }


    /* INTER-SECTIONS */


    .phrase{
        font-size: 25px;
    }


    /* SERVICES */


    #services{
        position: absolute;
        padding: 0;
        margin: 0;
        height: 100vh;
    }
    
    #board{
        display: none;
    }

    #mobile-board{
        display: flex;
        flex-direction: column; 
        
        align-items: flex-start;
        justify-items: flex-start;

        align-content: flex-start;
        justify-content: flex-start;

        position: relative;
        width: 100vw;
        height: 100vh;
        /* padding: 30px; */
        background-color: var(--Suave-Cloud);
        overflow: hidden;
    }

    #carousel{
        display: flex;
        flex-direction: row;

        align-content: center;
        justify-content: center;

        align-items: center;
        justify-items: center;

        max-width: 500%;
        height: 100%;

        margin-left: 25px;

        /* background-color: red; */
        /* overflow: hidden; */
    }

    .card-front{
        margin-left: -15px;
    }

    .mobile-card{
        margin-left: 35px;
    }


    .cards-carousel-controller{
        position: absolute;
        display: flex;
        flex-direction: row;

        align-items: center;
        justify-items: center;

        align-content: center;
        justify-content: space-between;

        padding: 10px;

        /* background-color: red; */
        width: 100%;
        height: 100%;
    }

    #prevCardBtn,
    #nextCardBtn{
        position: relative;
        width: 50px;
        height: 50px;
        background-color: var(--Suave-black);
        border-radius: 50%;
        z-index: 5000;
    }


    /* SERVICES PAGES */


    .service-page-text-container{
        width: 80%;
    }


    /* ABOUT */


    #about-content{
        padding: 0;
        margin: 0;
        overflow-y: scroll;
    }

    #aboutText{
        padding: 15px;
        font-size: 20px;
    }


    /* Footer */
    #footer-mobile-navbar{
        position: fixed;
        bottom: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 100vw;
        height: 60px;
        background-color: var(--Suave-black)
    }

    #footer-mobile-navbar a{
        width: 40%;
        height: 75%;
        padding-top: 5px;
        border-radius: 10px;
        text-align: center;
        align-items: center;
        text-decoration: none;
        /* background-color: var(--Suave-black); */
        color: #fff
    }

    /* SERVICES PAGES */

    .service-page-content{
        flex-direction: column;
        align-items: center;
    }

    .service-page-text-container{
        top: auto;
        right: auto;
        height: 50%;
        bottom: 0px;
        padding: 10px;
        font-size: 18px;
        width: 80%;
    }

    .service-page-image{
        width: 100%;
        height: 90%;
    }

    .service-page-image img{
        border-radius: 10px 10px 50px 50px
    }

    .service-page-button{
        width: 100%;
    }

    .quit-page{
        margin-left: 85%;
        z-index: 3000;
    }


    /* CONTACT */

    #contact-form{
        width: 100%;
        height: 70%;
        /* overflow: visible; */
    }

    #contactNames{
        flex-direction: column;
        align-items: center;
        justify-items: center;
    }

    #contactNames input{
        width: 100%
    }

    #email-phone{
        flex-direction: column;
        align-items: center;
        justify-items: center;
    }

    #email-phone input{
        width: 100%;
    }

    #contactBtn{
        height: 50%;
    }


}

@media screen and (max-width: 550px){
    #carousel{
        max-width: 1000%;
    }


    .mobile-card{
        margin-left: 25px;
    }


    /* SERVICES PAGES */

    .service-page-content{
        flex-direction: column;
    }

    .service-page-text-container{
        top: auto;
        right: auto;
        height: 60%;
        bottom: 0px;
        padding: 10px;
        font-size: 14px;
        width: 90%;
    }
    
        

    .service-page-image{
        width: 100%;
        height: 90%;
    }

    .service-page-button{
        width: 100%;
    }

    

    
    /* CONTACT */


    #contact-form{
        width: 100%;
    }
    
}
