/* I - GENERAL */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    color: white;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
    color: white;
}

strong{
    font-family: 'Roboto', sans-serif;
    color: var(--Bright)
}

input{
    /* background-color: var(--Suave-Jelly); */
    background-color: var(--Suave-black);
    border: none;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 20px;
}

::-webkit-input-placeholder {
    color: #E8E8E875;
    font-family: 'Lato', sans-serif;
 }
 
 :-moz-placeholder { /* Firefox 18- */
    color: #E8E8E875;  
    font-family: 'Lato', sans-serif;
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
    color: #E8E8E875;  
    font-family: 'Lato', sans-serif;
 }
 
 :-ms-input-placeholder {  
    color: #E8E8E875;  
    font-family: 'Lato', sans-serif;
 }

 /* Cor de fundo do autocomplete */
input:-webkit-autofill {
    /* -webkit-box-shadow: 0 0 0 30px var(--Suave-Cloud) inset; */
    -webkit-box-shadow: 0 0 0 30px var(--Suave-black) inset;
}

/* Cor do texto do autocomplete */
input:-webkit-autofill {
    -webkit-text-fill-color: white !important;
}

textarea{
    /* background-color: var(--Suave-Jelly); */
    background-color: var(--Suave-black);
    border: none;
    border-radius: 10px;
    width: 99%;
    min-height: 30%;
    align-self: center;
    resize: none;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}




.hide{
    display: none;
}

.hidden{
    overflow: hidden;
}   


/* II -LANGUAGES */

.languages{
    position: fixed;
    margin-top: 15vh;
    margin-left: 90vw;
    float: right;
    width: 60px;
    height: 30px;
    background-color: var(--Suave-black);
    text-align: center;
    justify-content: center;
    z-index: 1000;
}

.flag{
    width: 40px;
    height: 25px;
}

#atualLanguage{
    /* position: absolute; */
    padding: 0;
    margin-top: 0;
}

#atualLanguage:hover{
    cursor: pointer;
}

#atualFlag{
    position:relative;
    height: 29px;
    margin: 0
    /* border: 1px solid #fffff f; */
}


#atualLanguage svg{
    margin: 0;
    padding: 0;
    width: 15px;
    height: 30px;
}

#languagesFlags{
    margin-top: 10%;
}

.languages ul li{
    list-style: none;
    margin-top: 0.25em;
}

.flag{
    border: 2px solid rgba(0,0,0,0.1);
}

.flag:hover{
    border: 2px solid var(--Jelly-Bean);
}

/* III - HEADER */

/* III- 1º- GENERAL AND FIRST MENU */

header{
    position: absolute;
    width: 100vw;
    margin: 0 auto;
    background-color: rgba(0,0,0,0.0);
    z-index: 2000;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

nav ul{
    margin-right: 5%;
    list-style: none;
    margin-top: 2%;
}

nav ul li{
    width: 170px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    float: left;
    position: relative;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    border-radius: 10px;
}



nav ul li:hover{
    background-color: var(--Suave-Anakiwa);
    cursor: pointer;
}

nav ul li:hover > strong{
    color: white
}



nav ul ul{
    
}

nav ul ul li{
    background-color: var(--Suave-black);
    margin-bottom: 2%;
}

/* nav ul li:hover > ul{
    display: block;
} */

nav ul ul ul{
    margin-left: 170px;
    position: absolute;
    top: 0;
}


/* III - 2º - SECOND MENU */


#second-nav-container{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    
    transition: all .5s ease-in-out;
}

.hide-second{
    overflow: hidden;
    height: 0;
}

.show-second{
    overflow: visible;
    height: 100px;
}

#secondNavBar{
    height: 100%;
    background-color: var(--Suave-black);
    display: flex;
    flex-direction: row;  
    align-items: center;
    justify-content: center;
    text-align: center;
}

#secondNavBar ul{
    height: 100%;   
    width: 100%;
    margin-bottom: 1%;
}

#specialUL1{
    display: flex;
    margin-left: 15%;
    align-items: center;
}

#specialUL1 li{
    margin-right: 12%;
}

#specialUL2{
    display: flex;
    margin-left: 5%;
    align-items: center
}

#specialUL2 li{
    margin-right: 12%
}

#second-logo{
    position: absolute;
    top: 0;
    left: 45%;
    padding: 0;
}

.logo img{
    width: 100px;
    height: 100px;
    margin-top: 10px;
    margin-left: 30px;
    padding: 0;
    border-radius: 20%;
}

#second-logo img{
    width: 125px;
    height: 125px;
    margin: auto;
    padding: 0;
    border: 2px solid white;
    border-radius: 50%;
}


/* III - 3º MOBILE MENU */


#mobileNavBar{
    min-width: 100vw;
    display: none;
    background-color: black
}

.menu-btn{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    margin-right: 15px;
    z-index: 3000;
    /* border: 3px solid #fff */
}

.menu-btn__burger{
    width: 30px;
    height: 2px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all .5s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after{
    content: '';
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #fff;
    border-radius: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all .5s ease-in-out;
}

.menu-btn__burger::before{
    transform: translateY(-10px)
}

.menu-btn__burger::after{
    transform: translateY(10px)
}

/* Animation */
.menu-btn.open .menu-btn__burger{
    transform: translate(-30px);
    background: transparent;
    box-shadow: none;
}

.menu-btn.open .menu-btn__burger::before{
    transform: rotate(45deg) translate(15px, -15px)
}

.menu-btn.open .menu-btn__burger::after{
    transform: rotate(-45deg) translate(15px, 15px)
}

#side-menu{
    display: none;
}

/* Body Container */

.bodyContainer{
    margin: 0;
}

#home{
    position: relative;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}


/* INTER-SECTION */

.inter-section{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 50vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#inter-section1{
    background-image: url("../images/img/Services-bg.jpg");
}

#inter-section2{
    background-image: url("../images/img/computer-language-on-a-computer-screen-U84KF6B.jpg");
}

#inter-section3{
    background-image: url("../images/img/three-computer-screens-with-computer-programming-c-J4BN9WB.jpg")
}


.inter-section-content{
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 75%;
    background-color: var(--Suave-black);
    margin: auto;
    margin-top: auto;
    padding: 20px;
    justify-self: center;
    align-items: center;
    justify-content: center;
}

.phrase{
    text-align: center;
    font-size: 40px;
    font-style: italic;
}

.author{
    margin-top: 20px;
    text-align: right;
    font-size:25px;
    color: #E8E8E8;
}


/* SERVICES */


#services{
    /* position: relative; */
    width: 100vw;
    max-height: 150vh;
    /* background-image: url('../images/img/Services-bg.jpg'); */
    background-color: black;
}

#board{
    display: grid;
    grid-template-areas: "a1 a1 a2 a2 a2 a3 a3"
                         "s1 a4 a4 s0 a5 a5 s2";

    align-items: center;
    justify-items: center;

    justify-content: space-evenly;
    align-content: space-around;

    width: 100%;
    height: 150vh;
    padding: 30px;
    background-color: var(--Suave-Cloud);
}   

#mobile-board{
    display: none;
}

.card{
    margin: 0;
    padding: 10px;
    width: 250px;
    height: 400px;
    position: relative;

    transform-style: preserve-3d;
    transition: transform .5s;
}

.mobile-card{
    margin: 0;
    padding: 10px;
    min-width: 250px;
    height: 400px;
    position: relative;

    transform-style: preserve-3d;
    transition: transform .5s;
}

#devWeb-Card{
    grid-area: a1;
}
#appMobile-Card{
    grid-area: a2;
}
#appDesktop-Card{
    grid-area: a3;   
}

#marketPlace-Card{
    grid-area: a4;
}
#digitalMarketing-Card{
    grid-area: a5;
}

.card-image{
    overflow: hidden;
    margin-top: 5px;
    width: 100%;
    height: 3.5em;
}

.card-image img{
    margin-top: -1.5em;
    width: 100%;
}

.card-text-content{
    text-align: justify;
    margin-top: 5px;
    font-size: 14px;
    padding: 10px
}

.card-text-content p{
    margin-top: 5px;
}

.card-button{
    margin: 5px;
    padding: 10px;
    width: 45%;
    border: none;   
    border-radius: 10px;
    background-color: var(--Suave-Anakiwa);
    color: white;
}

.card-button:hover{
    background-color: var(--Bright);
    cursor: pointer;
}

.card-front h4{
    padding: 10px;
}

.card-front{
    background-color: var(--Cloud);
}

.card-back{
    background-color: #E8E8E8;
    color: black;
    display: flex;
}

.card-front, .card-back{
    backface-visibility: hidden;
    position: absolute;
    top: 0;

    /* padding: 5px; */
    width: 100%;
    height: 100%;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    box-shadow: 3px 3px var(--Suave-black);
}

.card-back-container{
    display:flex;
    flex-direction: column;
    margin: auto;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    width: 95%;
    height: 95%;
    justify-self: center;

    align-items: center;
    justify-items: center;

    align-content: center;
    justify-content: center;

    font-family: 'Roboto', sans-serif;
    /* font-weight: bold; */
}

.card-front, .flip {
    transform: rotatey(180deg);
}

.card-back svg,
.card-back h3,
.card-back h2{
    margin-top: 20px;
}


/* SERVICES PAGES */


.service-page{
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    border-radius: 10px;
    background-color: var(--Cloud);
    z-index: 10000;
    align-content: center;
    justify-content: center;
}

.service-page-content{
    display: flex;
    flex-direction: row;
    width: 95%;
    height: 90%;
    margin: auto;
}

.service-page-text-container{
    position: absolute;
    top: 15%;
    right: 0;
    width: 50%;
    height: 70%;
    padding: 70px;
    border-radius: 50px;
    background-color: var(--Cloud);
    overflow-y: auto;

    text-align: center;
}

.service-page-text-container::-webkit-scrollbar{
    width: 12px;
}

.service-page-text-container::-webkit-scrollbar-thumb{
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: var(--Suave-Cloud); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.service-page-text-container p{
    text-align: justify;
}

.service-page-image{
    position: absolute;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    width: 70%;
    height: 100%;
    top: 0;
    left: 0px;
}
.service-page-image img{
    width: 100%;
    height: 100%;
    border-radius: 10px 50px 50px 10px;
}

.service-page-button{
    margin: 5px;
    padding: 10px;
    width: 45%;
    border: none;   
    border-radius: 10px;
    background-color: var(--Suave-Anakiwa);
    color: white;
}

.service-page-button:hover{
    background-color: var(--Bright);
    cursor: pointer;
}

.quit-page{
    float: right;
    width: 35px;
    margin: 20px;
    margin-left: 95%;
    padding: 10px;
    text-align: center;
    text-justify: center;
    border-radius: 50%;
    color: var(--Cloud);
    background-color: white;
    font-size: 15px
}

.quit-page:hover{
    background-color: var(--Bright);
    cursor: pointer;
}


/* ABOUT */


#about {
    width: 100vw;
    height: 100vh;
    background-color: black;
    position: relative;
}

#about-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--Suave-Cloud);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
}

#about-content h1{
    margin-top: 2em;
    font-size: 36px;
}

#aboutText{
    padding: 100px;
    text-align: justify;
    font-size: 24px;
}

#aboutText p{
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: justify;
    text-indent: 1em;
    line-height: 1.5em;
}

#aboutText ul{
    padding-left: 30px;
    list-style-position:inside;
}

#aboutText ul li{
    margin-top: 15px;
    margin-bottom: 15px;
}


/* CONTACT */


#contact {
    width: 100vw;
    height: 100vh;
    background-color: black;
    position: relative;
    display: flex;
    flex-direction: Column;

    align-content: center;
    justify-content: center;

    align-items: center;
    justify-items: center;
}

#contact-content {
    /* position: absolute;
    top: 0;
    left: 0; */
    padding: 10px;
    border-radius: 10px;
    width: 80%;
    height: 80%;
    background-color: var(--Suave-Cloud);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#contact-form{
    display: flex;
    flex-direction: column;

    width: 60%;
    height: 40%;

    overflow: hidden;
}

#contactNames{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#contactNames input{
    width: 50%;
    height: 70%;
}

#email-phone{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#email-phone input{
    width: 50%;
    height: 70%;
}

#contactBtn{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around
}

#contactBtn input{
    width: 100%;
    height: 70%;
    color: white;
    font-size: 24px;
    text-align: center;
    text-justify: center;
}

#contactBtn input:hover{
    background-color: var(--Bright);
    cursor: pointer;
}









#footer-mobile-navbar{
    display: none;
}